:root{
    --primary-color: #222622;
    --secondary-color: #99c31d;
    --light-text: #caccb3;
    --mustard-yellow: #FFD700;
    --orange: #EC5800;
}
.layout-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    margin-bottom: 20px;
}
.layout-flex-item img{
    height:100%;
    width: 300px;
    
}
.product-content-card{
    max-width: 50rem;
    margin-inline:auto;
    margin-bottom: 0px;

    flex-grow:1;
    padding: 20px;
}
table{
    border-collapse: collapse;
    min-width:100%;
}
th{
    text-align: start;
    color: #4c554c;
}
td{
    padding: 5px 10px;
}
tr{
    border-bottom: 1px solid rgb(216, 216, 216);
}




/*  */
@media only screen and (max-width: 767px) {
    .box-shadow{
        box-shadow: none;
        padding: 0px;
    }
    .product-content-card{
        width:90%;
        margin-inline:5px;
        padding: 1px;
    }
    .product-image-card img{
        height: 300px;
        width:auto;
    }
    .products-image{
        max-width: 100%;
        height: auto;
    }
    .layout-flex-item img{
        width: 100%;
        height: auto;
    }


}
