:root{
    --primary-color: #222622;
    --secondary-color: #99c31d;
    --light-text: #caccb3;
    --mustard-yellow: #FFD700;
    --orange: #f16417;
}
.banner-image{
    background-image: url(/assets/rally-car.jpg);
    background-size: cover;
    background-position: top;
}


.text-light{
    color: #caccb3;
}
.text-green{
    color: #99c31d;
}
.text-yellow{
    color:var(--mustard-yellow)
}
.text-orange{
    color: var(--orange)
}
.box-shadow{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 40px;
}
.box-shadow-hover:hover{
    box-shadow: var(--secondary-color) 0px 0px 8px;
    scale: 1.01;
    cursor: pointer;
    color: var(--secondary-color);
}
.box{
    padding:20px;
    background-color: var(--primary-color);
}
.mw-400{
    max-width: 400px;
}
.h-150{
    height: 200px;
}

.filter-categories{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
}
.filter-categories a{
    text-decoration: none;
    width:fit-content;
}
.button-2{
    font-weight: 400;
    font-size: larger;
}

.banner{
    background-color: var(--primary-color);
    padding-top:50px;
    padding-bottom: 50px;
}
.title{
    color: var(--light-text);
    text-align: start;
    margin:0px;
    font-size: clamp(36px,10vw,96px);
}
html{
    background-color: var(--primary-color);
}
main{
    margin:0px;
}
button{
    background-color: var(--secondary-color);
    min-width: 100px;
    height: 40px;
    color: #222622;
    border:none;
}

.button-primary{
    display: inline-block;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    padding:10px;
    color: var(--primary-color);
    margin-inline:5px;
}
.button-primary:hover{
    background-color: var(--mustard-yellow);
    border:1px solid var(--mustard-yellow);
}
.button-secondary{
    display: inline-block;
    border:1px solid var(--secondary-color);
    padding:10px;
}
.button-secondary:hover{
    border:1px solid var(--mustard-yellow);
    background-color: var(--mustard-yellow);
    color:var(--primary-color)
}
button:hover{
    scale: 1.05;
    background-color: #222622;
    color: #caccb3;
    cursor: pointer;
}
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;

    font-weight: 400;
    background-color: #ffffff;
    font-size: larger;
    
    color: #222622;
    margin:0;
}
p{
    padding: 10px;

}
p, li {
    font-family: "Roboto", sans-serif;
    font-size: clamp(15px,3vw,20px);
    color: #444;
}
h1{
    font-size: clamp(35px, 5vw, 40px);
    color: #222622;
}
h2{
    text-align: center;
    color: #222622
}
a{
    color: var(--secondary-color);
    text-decoration: none;
}


.container-m0{
    width:97%;
    margin-inline: auto;
    max-width: 1300px;
}

.container{
    width:90%;
    margin-inline: auto;
    margin-bottom: 50px;
    margin-top: 50px;

    max-width: 1300px;

}

.nav a{
    text-decoration: none;
    color: #caccb3;
    padding:10px;
}
.nav a:hover{
    color:#99c31d;
    text-decoration: underline;
}


header{
    padding: 15px;
    background-color: #222622;
}
footer{
    padding: 15px;
    background-color: #222622;

    width: 100%;
}
.nav {
    text-align: center;
    font-weight: bold;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.nav li{
    display: inline-block; 
    margin-right: 10px;
}
.nav-pages{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}
.nav-pages a{
    text-decoration: underline;
    color: #222622;
}
.nav-pages ul{
    margin:0px;
    padding: 0px;
}
.nav-pages li{
    display: inline-block;
    text-decoration: none;
    padding:0px;
    padding-inline:10px
}

.product-grid{
    display: flex;
    flex-wrap: wrap;

    grid-gap: 20px;

    align-items: center;
    justify-content: center;
}
.product-grid a{
    text-decoration: none;
    color: #222622; 
}
.product-card {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 0px;

    width: 300px;
    height: 400px;
}

.product-card img {
    width: 100%;
    height: 60%;
    
    animation: fadeIn 0.3s ease-in;

    object-fit:scale-down;
}

.product-info {
    padding: 15px;
    height:150px;
}
.product-info p{
    padding-inline: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.product-image-card{
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;


}
.product-content{
    display: flex;
    flex-wrap: wrap;
    gap:5px;

    justify-content: space-around;
    align-items: center;
}
.product-content-card ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0px;
    gap:10px

}
.product-content-card li{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding:8px;
}
.product-image-card img{
   max-width: 500px;
   min-width: 250px;
   width: 100%;
   height: auto; 
}
.product-content-card{
    text-align: start;
    width:70%;
    margin-inline: auto;
}
.product-content-card h1, h2{
    text-align: start;
}

.products-image{
    max-height: 200px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.contact-info > * {
    flex: 1
}

.contact-people{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding-left: 0;
}

.contact-people > * {
    all: unset;
    flex: 1;
    background-color: var(--primary-color);
    color: var(--light-text);
    padding: 20px;
    max-width: 50%;
}

.contact-content {
    display: flex;
    gap: 20px;
}

.contact-content > * {
    flex: 1
}

.contact-card{
    background-color: #222622;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;

    flex-grow: 1;
}

.logo-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px
}
.logo-flex-start{
    justify-content: start;
    align-items: center;
}

.logo-flex-item{
    animation: 0.3s fadeIn ease-in-out;

    flex:1;
    min-width: 300px;
    
    display: grid;
    place-items: center;
}
.logo-flex-reverse{
    flex-direction: row-reverse;
}
.logo-flex-item-img{
    flex: 1;
    max-height: 300px;
    max-width: 50%px;
    object-fit: cover;
}

img.britmar-marker{
    filter: hue-rotate(240deg);
}

.icon-para{
    display: flex;
    gap: 10px;
}
.footer-flex{
    display: flex;
    flex-wrap: wrap;

    gap:20px;
    align-items: flex-start;
    justify-content: space-between;
}
.img-grow:hover{
    transform: scale(1.03);
}
.placeholder-image {
  width: auto; 
  height: 70px; 
}
.interactive-icon:hover{
    background-image: url("/assets/up-arrow.svg");
    fill: var(--secondary-color);
    scale: 1.3;
}

.logo-flex-item-img{
    max-width: 45%;
}
/* GALLERY  */
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
    margin-inline:auto;
    width:95%
}
.gallery-item{
    flex:1 0 32%;
    min-width: 300px;
}
.gallery-item-2{
    flex: 2 0 65%
}
.place-center{
    display: grid;
    place-items: center;
    height: 100%;
}
.gallery-item img{
    width:100%;
    height:300px;
    object-fit:cover;
}
/* ---- */

.contact-address{
    min-width: fit-content;
}

#map { 
    border-radius: 5px;
    min-height: 300px;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


@media only screen and (max-width: 767px) {
    .banner{
        padding-top:40px
    }
    .banner-image{
        background-position: bottom;
    }
    .title{
        margin-bottom: 20px;
    }
    .container{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .header-flex{
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .contact-people > *{
        flex-direction: column;
        max-width: 100%;
    }

    #map {
        height: 300px;
    }

    .product-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px; 

        
        align-items: stretch;
    }
    .product-card{
        border: 1px solid #d3d3d3;
        border-radius: 0px;
        
        box-shadow: none;
        width: 100%;
        height: 100%;
        gap:5px;
    }
    .product-card img {
        width: 80%;
        height: auto; 
        
        animation: fadeIn 0.3s ease-in;

        object-fit:scale-down;
    }
    .product-card:hover{
        box-shadow: none;
    }

    .footer-flex{
        justify-content:center;
        flex-direction: column;
    }
    .footer-flex p{
        margin:0px
    }
    .product-content-card{
        width:90%
    }
    .product-image-card img{
        height: 300px;
        width:auto;
    }
    .products-image{
        max-height: 150px;
        max-width: 100%;
        height: auto;
    }
    .logo-flex{
        gap:20px;
    }
    .logo-flex-item-limit{
        min-width: 150px;
        max-width: 300px;
    }
}
@media only screen and (max-width: 375px) {
    .products-image{
        max-height: 100px;
    }
}
.no-margin-top{
    margin-top: 0px;
}
.no-margin-bottom{
    margin-bottom: 0px;
}
.no-margin-vertical{
    margin-top: 0px;
    margin-bottom: 0px;
}