:root{
    --primary-color: #222622;
    --secondary-color: #99c31d;
    --secondary-color-dark: #648013;
    --tertiary-color: #caccb3;
}

.text-light{
    color: #caccb3;
}
.text-green{
    color: #99c31d;
}
.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 40px;
}
.box-shadow-hover:hover{
    box-shadow: var(--secondary-color) 0px 0px 8px;
    scale: 1.01;
    cursor: pointer;
    color: var(--secondary-color);
}
.box{
    padding:20px
}
.mw-400{
    max-width: 400px;
}

.filter-categories{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
}
.filter-categories a{
    text-decoration: none;
    width:fit-content;
}
.button-2{
    font-weight: 400;
    font-size: larger;
}

.disable{
    pointer-events: none;
    text-decoration: none;
}
.disable-btn{
    font-size: small;
    font-weight: 400;
    background-color: #222622;
    color: #caccb3;
}

.banner{

  background-image:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6026785714285714) 35%, rgba(0,212,255,0) 100%),url('/assets/tofinoboat.webp');
  animation: fadeIn 0.7s ease-in-out;
  background-size:auto; 
  background-position:center; 
  background-repeat: no-repeat; 

  height: 600px;
}
html{
    background-color: #ffffff;
}
main{
    margin:0px;
}
button{
    background-color: var(--secondary-color);
    min-width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #222622;
    font-weight: 800;
    border:none;
    
}
button:hover{
    scale: 1.05;
    background-color: #222622;
    color: #caccb3;
    cursor: pointer;
}
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;

    font-weight: 400;
    background-color: #ffffff;
    font-size: larger;
    
    color: #222622;
    margin:0;
}
p{
    padding: 10px;

}
p, li {
    font-family: "Roboto", sans-serif;
    font-size: clamp(15px,3vw,20px);
    color: #444;
}
h1{
    text-align: center;
    font-size: clamp(35px, 5vw, 40px);
    color: #222622;
}
h2{
    text-align: center;
    color: #222622
}
a{
    color: var(--secondary-color);
    text-decoration: none;
}


.container-m0{
    width:97%;
    margin-inline: auto;
    max-width: 1300px;
}

.container{
    width:90%;
    margin-inline: auto;
    margin-bottom: 100px;
    margin-top: 100px;

    max-width: 1300px;

}

.nav a{
    text-decoration: none;
    color: #caccb3;
    padding:10px;
}
.nav a:hover{
    color:#99c31d;
    text-decoration: underline;
}


header{
    padding: 15px;
    background-color: #222622;
}
footer{
    padding: 15px;
    background-color: #222622;

    width: 100%;
}
.nav {
    text-align: center;
    font-weight: bold;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.nav li{
    display: inline-block; 
    margin-right: 10px;
}
.nav-pages{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}
.nav-pages a{
    text-decoration: underline;
    color: #222622;
}
.nav-pages ul{
    margin:0px;
    padding: 0px;
}
.nav-pages li{
    display: inline-block;
    text-decoration: none;
    padding:0px;
    padding-inline:10px
}

.product-grid{
    display: flex;
    flex-wrap: wrap;

    grid-gap: 20px;

    align-items: center;
    justify-content: center;
}
.product-grid a{
    text-decoration: none;
    color: #222622; 
}
.product-card {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 0px;

    width: 300px;
    height: 400px;
}

.product-card img {
    width: 100%;
    height: 60%;
    
    animation: fadeIn 0.3s ease-in;

    object-fit:scale-down;
}

.product-info {
    padding: 15px;
    height:150px;
}
.product-info p{
    padding-inline: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.product-image-card{
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;


}
.product-content{
    display: flex;
    flex-wrap: wrap;
    gap:5px;

    justify-content: space-around;
    align-items: center;
}
.product-content-card ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0px;
    gap:10px

}
.product-content-card li{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding:8px;
}
.product-image-card img{
   max-width: 500px;
   min-width: 250px;
   width: 100%;
   height: auto; 
}
.product-content-card{
    text-align: start;
    width:70%;
    margin-inline: auto;
}
.product-content-card h1, h2{
    text-align: start;
}

.products-image{
    max-height: 200px;
}

.contact-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.contact-people{
    display: flex;
    min-width: 200px;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding-left: 0;
}

.pagination{
    background-color: #333;
    color: #caccb3;
    padding: 10px;
    margin-top: 10px
}


.logo-spotlight{
    /* display: flex; */
    width: fit-content;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;

    justify-content: center;
    align-content:center;

    margin-top:10px;
    margin-bottom:10px;
    padding: 30px;
}
.logo-spotlight img{
    width:auto;
    height: fit-content;
}
.contact-card{
    background-color: #222622;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;

    flex-grow: 1;
}

.logo-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px
}
.logo-flex-start{
    justify-content: start;
    align-items: center;
}

.logo-flex-item{
    animation: 0.3s fadeIn ease-in-out;

    flex:1;
    min-width: 300px;
    
    display: grid;
    place-items: center;
}
.logo-flex-reverse{
    flex-direction: row-reverse;
}

.card-blank{
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;

   
   text-align: center; 
}
.flex-col-2{
    display:flex;

    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

}
.flex-col-2:nth-child(odd){
    flex-direction: row-reverse;
}
.no-margin-top{
    margin-top: 0px;
}
.no-margin-bottom{
    margin-bottom: 0px;
}

img.britmar-marker{
    filter: hue-rotate(240deg);
}

.icon-para{
    display: flex;
    gap: 10px;
}
.footer-flex{
    display: flex;
    flex-wrap: wrap;

    gap:20px;
    align-items: center;
    justify-content: space-between;
}
.img-grow:hover{
    transform: scale(1.03);
}

.placeholder-image {
  width: auto; 
  height: 70px; 
}
.interactive-icon:hover{
    background-image: url("/assets/up-arrow.svg");
    fill: var(--secondary-color);
    scale: 1.3;
}

#map { 
    height: 200px;
    width: 200px;

    border-radius: 5px;
    flex-grow: 2;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


@media only screen and (max-width: 767px) {
    h1{
        text-align: start;
    }
    .container{
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .header-flex{
        justify-content: center;
        flex-direction: column;
    }

    .product-grid{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns with equal width */
        gap: 0px; 

        
        align-items: stretch;
    }
    .product-card{
        border: 1px solid #d3d3d3;
        border-radius: 0px;
        
        box-shadow: none;
        width: 100%;
        height: 100%;
        gap:5px;
    }
    .product-card img {
        width: 80%;
        height: auto; 
        
        animation: fadeIn 0.3s ease-in;

        object-fit:scale-down;
    }
    .product-card:hover{
        box-shadow: none;
    }

    .footer-flex{
        justify-content:center;
        flex-direction: column;
    }
    .footer-flex p{
        margin:0px
    }
    .product-content-card{
        width:90%
    }
    .product-image-card img{
        height: 300px;
        width:auto;
    }
    .products-image{
        max-height: 150px;
        max-width: 100%;
        height: auto;
    }
    .logo-flex{
        gap:20px;
    }
    .logo-flex-item-limit{
        min-width: 150px;
        max-width: 300px;
    }
}
@media only screen and (max-width: 375px) {
    .products-image{
        max-height: 100px;
    }
}
